
@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat-Bold.woff2);
}

@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat-SemiBold.woff2);
}

@font-face {
  font-family: 'Dela Gothic One';
  src: url(./DelaGothicOne-Regular.ttf);
}
